.looking-for-page-h{
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

.looking-for-page-div{
margin-top: 53px;
margin-bottom: 20px;
}

.looking-for-page-p{
    padding-left: 4px;
    padding-right: 4px;
}


