@import url('./fonts/glober_font.css');

/* default css style */
html,
body {
    font-family: 'glober', sans-serif;
}

h3 {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}

h4 {
    font-size: 17px;
    font-weight: bold;
    color: #484848;
}

.flex-colum-10 {
    display: flex;
    flex-direction: column;
    gap: 10px
}

.flex-colum-20 {
    display: flex;
    flex-direction: column;
    gap: 20px
}

.flex-colum-30 {
    display: flex;
    flex-direction: column;
    gap: 30px
}

.flex-colum-40 {
    display: flex;
    flex-direction: column;
    gap: 40px
}

.flex-row-10 {
    display: flex;
    flex-direction: row;
    gap: 10px
}

.flex-row-20 {
    display: flex;
    flex-direction: row;
    gap: 20px
}

.flex-row-30 {
    display: flex;
    flex-direction: row;
    gap: 30px
}

.flex-row-40 {
    display: flex;
    flex-direction: row;
    gap: 40px
}

.bg-light-gray {
    background-color: #f8f8f8;
}

.bg-light-gray-2 {
    background-color: #f3f3f3;
}

.bg-gray {
    background-color: #d6d6d6;
}

.bg-black {
    background-color: #000000;
}

.bg-pink {
    background-color: #c81e69;
}

.shadow-custom {
    box-shadow: 0px 3px 6px #00000029;
}
.paralax {
    display: none;
	height: 500px;
	width: 100%;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}
/*===== default css style end ====*/
/*===== menu style start ====*/
.sticky {
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0;
}

.sticky::after {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* Blurred background color */
    background-color: rgba(255, 255, 255, 0.1);
    /* You can adjust the opacity (last value) for the blur effect */
    /* Add a blur effect using backdrop-filter */
    backdrop-filter: blur(20px);
    /* Adjust the blur amount as desired */
}

.sticky #logo {
    /* justify-content: end; */
}

.sticky #logo img {
    width: 130px;
}

#headerWrap {
    position: relative;
}

.hidden {
    display: none;
}

.header {
    width: 1170px;
    margin: auto;
    display: flex;
    /* width: 100%; */
    padding-top: 10px;
    padding-bottom: 10px;
}

#logo {
    flex-grow: 1;
    color: #fff;
    font-size: 23px;
    font-weight: bold;
    align-self: center;
    display: flex;
    flex-direction: row;
}

#logo b {
    color: #6EBF8B;
}

#navbarWrap {
    flex-grow: 3;
}

/* menu */

.menuList {
    display: flex;
    color: white;
    list-style: none;
    justify-content: end;
    padding: 0px;
    margin: 0;
}

.menuList li {
    display: flex;
}

.menuList a {
    color: #484848;
    padding: 6px 40px;
    text-decoration: none;
    transition: 0.3s;
}

.menuList a:hover,
.menuList a.active {
    background: #c81e69;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
}


#menuWrap {
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    transform: scaleY(0);
    transform-origin: top;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
    background-color: #fff;
    border-radius: 0 0 14px 14px;
}

#menuWrap::after {
    content: "";
    position: absolute;
    bottom: 16px;
    left: 50%;
    width: 80px;
    height: 4px;
    background: #f0f2f2;
    transform: translateX(-50%);
}

.menuList {
    flex-direction: column;
    border-bottom: 2px solid #f0f2f2;
    padding-top: 10px;
    padding-bottom: 10px;
}

.menuList a {
    width: 100%;
}

#menuWrap .menuList:last-child {
    border-bottom: none;
}

#navbarWrap {
    flex-grow: 1;
    display: flex;
    justify-content: end;
}

#mobileMenu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: 0.3s;
    justify-content: center;
}

#stick_1,
#stick_2 {
    transition: 0.3s;
}

/*=== content body start ====*/
#contentWrap {
    display: flex;
    flex-direction: column;
}

.topImgWrap {
    display: flex;
    flex-direction: column;
}

.topImgWrap img {
    width: 100%;
}

.pageTitle {
    font-size: 15px;
    color: #484848;
    padding-top: 15px;
    padding-bottom: 20px;
}

.contentBody {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.readmoreContent {
    display: flex;
    flex-direction: column;
    gap: 5px;
}



.rdContent {
    font-size: 16px;
    line-height: 19px;
    color: #484848;
    padding-top: 5px;
}

.readmoreBtn {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.readmoreBtn button {
    background-color: transparent;
    border: none;
    font-size: 14px;
    font-family: glober-semiBold;
}

/* .divWrap {
        padding-top: 20px;
    } */
.boxWithBtn {
    background-color: #f8f8f8;
    padding: 15px 15px 30px 15px;
    border-radius: 10px;
    box-shadow: 0px 3px 6px #00000029;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn_2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
}

.btn_2 button {
    background: #c81e69;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    width: 139px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 0.3s;
}

.btn_2 button:hover {
    background: #a01853;
}

/*=== content body end ====*/

/*=== footer start===*/
.ftMenuWrap ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px;
    border-bottom: thin solid #e2e7e7;
    padding-bottom: 20px;
}

.ftMenuWrap ul a {
    text-decoration: none;
    color: #484848;
    transition: 0.3s;
}

.ftMenuWrap ul a:hover {
    color: #202020;
}

.socialBtn {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

/*=== footer end ====*/
/* #mobileMenu {
    display: none;
} */
/* responsive css style */
/*mobile */
@media only screen and (max-width: 576px) {

    /*=== header & menu start ====*/
    #logo {justify-content: center;}
    .sticky #logo {justify-content: end;}
    .menuList a {color: #484848; padding: 10px 40px;}
    #menuWrap {padding-bottom: 30px;}
    #menuWrap::after {bottom: 25px;}
}
@media only screen and (min-width: 577px) and (max-width: 769px) {
    
}
/*TAB */
@media only screen and (min-width: 768px) and (max-width: 979px) {
    .header {
        /* width: 760px; */
    }
}


/*small desk */

@media only screen and (min-width: 978px) {
    h3 {
        font-size: 25px;
    }
    .header {
        /* width: 960px; */
    }
    .divWrap {
        padding-top: 50px !important;
        padding-bottom: 50px !important;
    }
    .divWrap .flex-colum-30 {
        flex-direction: row;
    }
    #logo a,.sticky #logo a {
        width: 120px;
    }
    #logo img, .sticky #logo img {
        width: 100%;
    }
    .mobImg{display: none;}
    .paralax {display: block;}
    .pageTitle {
        padding-bottom: 60px;
    }
    .rdContent {
        line-height: 30px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .readMoreWithImg h3 {
        padding-bottom: 15px;
    }
    .footer {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 20px;
    }
    .ftMenuWrap ul {
        border-bottom: none;
    }
    #footerWrap {
        padding-top: 50px !important;
    }
}