@import url('./fonts/glober_font.css');

/* default css style */
html,
body {
    font-family: 'glober', sans-serif;
}

h3 {
	font-size: 20px;
	font-weight: bold;
	color: #000000;
	line-height: 24px;
	margin-bottom: 0px;
	padding-bottom: 10px;
}
h4 {
    font-size: 17px;
    font-weight: bold;
    color: #484848;
    margin-bottom: 0px;
    padding-bottom: 10px;
}
p {  font-size: 16px;
    /* line-height: 19px; */
    line-height: 19px;
    color: #484848;
    margin-bottom: 10px;
}
.flex-colum {
    display: flex;
    flex-direction: column;
}
.flex-colum-10 {
    display: flex;
    flex-direction: column;
    gap: 10px
}

.flex-colum-20 {
    display: flex;
    flex-direction: column;
    gap: 20px
}

.flex-colum-30 {
    display: flex;
    flex-direction: column;
    gap: 20px
}

.flex-colum-40 {
    display: flex;
    flex-direction: column;
    gap: 40px
}
.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-row-10 {
    display: flex;
    flex-direction: row;
    gap: 10px
}

.flex-row-20 {
    display: flex;
    flex-direction: row;
    gap: 20px
}

.flex-row-30 {
    display: flex;
    flex-direction: row;
    gap: 30px
}

.flex-row-40 {
    display: flex;
    flex-direction: row;
    gap: 40px
}

.bg-light-gray {
    background-color: #f8f8f8;
}

.bg-light-gray-2 {
    background-color: #f3f3f3;
}

.bg-gray {
    background-color: #d6d6d6;
}

.bg-black {
    background-color: #000000;
}

.bg-pink {
    background-color: #c81e69;
}

.shadow-custom {
    box-shadow: 0px 3px 6px #00000029;
}
.paralax {
    display: none;
	height: 500px;
	width: 100%;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}
/*===== default css style end ====*/
/*===== menu style start ====*/
.sticky {
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0;
    z-index: 9;
}

.sticky::after {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* Blurred background color */
    background-color: rgba(255, 255, 255, 0.1);
    /* You can adjust the opacity (last value) for the blur effect */
    /* Add a blur effect using backdrop-filter */
    backdrop-filter: blur(20px);
    /* Adjust the blur amount as desired */
}

.sticky .logo {
    /* justify-content: end; */
}

.sticky .logo img {
    width: 130px;
}

.header-wrap {
    position: relative;
}

.hidden {
    display: none;
}

.header {
    width: 1170px;
    margin: auto;
    display: flex;
    /* width: 100%; */
    padding-top: 10px;
    padding-bottom: 10px;
}
.sticky .header {
	padding-top: 5px;
	padding-bottom: 5px;
}
.logo {
    flex-grow: 1;
    color: #fff;
    font-size: 23px;
    font-weight: bold;
    align-self: center;
    display: flex;
    flex-direction: row;
}

.logo b {
    color: #6EBF8B;
}

.navbar-wrap {
    flex-grow: 3;
}

/* menu style start */

.menu-list {
    display: flex;
    color: white;
    list-style: none;
    justify-content: end;
    padding: 0px;
    margin: 0;
}

.menu-list li {
    display: flex;
}

.menu-list a {
    color: #484848;
    text-decoration: none;
    transition: 0.3s;
    width: 100%;
    line-height: 21px;
    padding-top: 14px;
    padding-bottom: 13px;
    padding-left: 45px;
    font-size: 17px;
}

.menu-list a:hover,
.menu-list a.active {
    background: #c81e69;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
}


#menu-wrap {
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    transform: scaleY(0);
    transform-origin: top;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
    background-color: #fff;
    border-radius: 0 0 14px 14px;
}

#menu-wrap::after {
    content: "";
    position: absolute;
    bottom: 16px;
    left: 50%;
    width: 80px;
    height: 4px;
    background: #f0f2f2;
    transform: translateX(-50%);
}

.menu-list {
    flex-direction: column;
    border-bottom: 2px solid #f0f2f2;
    padding-top: 10px;
    padding-bottom: 10px;
}


#menu-wrap .menu-list:last-child {
    border-bottom: none;
}

.navbar-wrap {
    flex-grow: 1;
    display: flex;
    justify-content: end;
}

#mobile-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: 0.3s;
    justify-content: center;
}

#stick_1,
#stick_2 {
    transition: 0.3s;
}
/*==== menu style end ====*/
/*=== content body start ====*/
.content-wrap {
    display: flex;
    flex-direction: column;
    margin-top: -35px;
}

.top-img-wrap {
    display: flex;
    flex-direction: column;
}

.top-img-wrap img {
    width: 100%;
}

.page-title {
	font-size: 15px;
	color: #484848;
	padding-top: 16px;
	padding-bottom: 30px;
	line-height: 18px;
	margin-bottom: 0px;
}

.content-body {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-bottom: 40px;
}

.read-more-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.rd-content {
    /* padding-top: 10px; */
}
.rd-content p {
	font-size: 16px;
	line-height: 19px;
	color: #484848;
	margin-bottom: 10px;
}

.read-more-btn {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.read-more-btn a {
    background-color: transparent;
    color: #000000;
    border: none;
    font-size: 14px;
    font-family: glober-semiBold;
    text-decoration: none;
}
.read-more-btn img {
	margin-top: -3px;
	padding-left: 6px;
}

/* .div-wrap {
        padding-top: 20px;
    } */
.box-with-btn {
    background-color: #f8f8f8;
    padding: 20px 16px;
    border-radius: 10px;
    box-shadow: 0px 3px 6px #00000029;
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
}

.btn-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
}

.btn-2 button {
	background: #c81e69;
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 20px;
	padding: 10px 40px;
	transition: 0.3s;
}

.btn-2 button:hover {
    background: #a01853;
}

/*=== content body end ====*/

/*=== footer start===*/
.footer-wrap {
	padding-top: 50px;
	padding-bottom: 50px;
}
.ft-menu-wrap h4 {
	padding-bottom: 14px;
}
.ft-menu-wrap ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px;
    border-bottom: thin solid #e2e7e7;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.ft-menu-wrap ul a {
	text-decoration: none;
	color: #484848;
	transition: 0.3s;
	font-size: 14px;
	line-height: 22px;
}
.ft-menu-wrap ul a:hover {
    color: #202020;
}

.social-btn {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

/*=== footer end ====*/
/* #mobile-menu {
    display: none;
} */
/* responsive css style */
/*mobile */
@media only screen and (max-width: 576px) {

    /*=== header & menu start ====*/
    .logo {justify-content: center;}
    .sticky .logo {justify-content: end;}
    .menu-list a {color: #484848;}
    #menu-wrap {padding-bottom: 30px;}
    #menu-wrap::after {bottom: 25px;}
    /*=== header & menu end ====*/
    .mob-img {padding: 0;}
}
@media only screen and (min-width: 577px) and (max-width: 769px) {
    
}
/*TAB */
@media only screen and (min-width: 768px) and (max-width: 979px) {
    .header {
        /* width: 760px; */
    }
}


/*small desk */

@media only screen and (min-width: 978px) {
    h3 {
        font-size: 25px;
    }
    .header {
        /* width: 960px; */
    }
    .content-body {gap: 0px;}
    .div-wrap {
        padding-top: 50px !important;
        padding-bottom: 50px !important;
    }
    .menu-list a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .div-wrap .flex-colum-20 {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .logo a,.sticky .logo a {
        width: 120px;
    }
    .logo img, .sticky .logo img {
        width: 100%;
    }
    .mob-img{display: block;}
    .paralax {display: none;}
    .page-title {
        padding-top: 0px;
        padding-bottom: 60px;
    }
    .rd-content p {
        line-height: 30px;
    }
    .rd-content {
        line-height: 30px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .read-more-with-img h3 {
        padding-bottom: 15px;
    }
    .footer {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 20px;
    }
    .ft-menu-wrap ul {
        border-bottom: none;
    }
}